body {
    background-color: #000000;
    }
h1 {
    font-family: monospace;
    color: #ffffff;
    font-size: 200%;
    }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f3f3f;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.typing {
    font-family: monospace;
    color: #ffffff;
    font-size: 200%;
    animation: type 4s steps(60, end);
}
@keyframes type{ 
  from { width: 0; } 
}
