/* Style Sheet */
h1 {
	color: white;
	text-align: center;
	}
	
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
	border-bottom: 1px solid #32FF51;
	padding-bottom: 1em;
}
	
.nav-item {
    float: right;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover:not(.active) {
    background-color: #383838;
}

.active {
    background-color: #4CAF50;
}	
	
	
html, body {
    height: 100%;
    margin: 0.5em;
	background: #383838;
	color: #FFFFFF;
	font-family: Open Sans, Helvetica, sans-serif;
    }
	
body {
	display: flex;
	flex-direction: column;
}
	
.card{position:relative;
	display:-ms-flexbox;
	display:flex;-ms-flex-direction:column;flex-direction:column;
	min-width:0;
	word-wrap:break-word;
	background-color:#383838;
	background-clip:border-box;
	border:1px solid #32FF51;
	border-radius:.25rem;
	text-align: center;
	margin: 1em;}
	
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;
	padding:1.25rem}

.card-title{margin-bottom:.75rem}

.card-subtitle{margin-top:-.375rem;
	margin-bottom:0}

.card-text:last-child{margin-bottom:0;
	text-align: left;}

.card-link:hover{text-decoration:none}

.card-header{padding:.75rem 0.75rem;
	margin-bottom:0;
	background-color:rgba(0,0,0,.03);
	border-bottom:1px solid rgba(0,0,0,.125)}
	
.card-header:hover{
	cursor: pointer;
}	
	
.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}

.card-footer{padding:.25rem 0.75rem;
	background-color:rgba(0,0,0,.03);
	border-top:1px solid rgba(0,0,0,.125);
	text-align: left;}
	
.card-footer:last-child{border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)}

@media (min-width:576px){.card-deck{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap;margin-right:-15px;margin-left:-15px}.card-deck .card{display:-ms-flexbox;display:flex;-ms-flex:1 0 0%;flex:1 0 0%;-ms-flex-direction:column;flex-direction:column;margin-right:15px;margin-left:15px}}

	a{
		color:#32FF51;
	}
	
	a:hover{
		color:#02CF21;
	}
	
.highlight .o { color: #666666 }
.highlight .n{ color: #686868 }

.highlight  { background: #eeffcc; padding-left: 1rem; padding-top:0.05em; padding-bottom:0.05em;}
.highlight .c1 { color: #408090; font-style: italic }

.typewrite{
	font-size: 32pt;
	text-align: center;
}

.link{
	font-size: 18pt;
	text-align: center;
	display: block; /* anchors naturally have display inline, so must change for centering to work */
}

.footer{
	overflow: hidden;
    background-color: #383838;
	border-top: 1px solid #32FF51;
	padding-top: 0.5em;
	flex-shrink: 0;
}

/*.push{
	height: 3em;	
}*/
.wrapper{
	flex: 1 0 auto;
}